@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .primary-btn {
    @apply inline-block bg-primary text-white font-semibold rounded-lg hover:bg-secondary duration-200 shadow-[0px_10px_8px_-7px_#ffd978] hover:shadow-[0px_10px_8px_-7px_#69a79c] py-2 px-6;
  }
}

@layer utilities {
  .drop-shadow {
    filter: drop-shadow(6px 8px 10px rgba(0, 0, 0, 0.5));
  }
}

/* In your styles.css or scoped CSS */
.content-container h1 {
  font-size: 48px;
  font-weight: bold;
  color: #333;
}

.content-container h2 {
  font-size: 36px;
  font-weight: bold;
  color: #444;
}
.content-container h3 {
  font-size: 25px;
  font-weight: bold;
  color: #444;
}


.content-container p {
  font-size: 16px;
  color: #555;
}
